* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.monika{
  border:1px solid blue;
  width: 300pxgit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box{
  border:1px solid green;
  height: 25px;
  width: 25px;
}
header {
  margin-top: 10vh;
  font-size: 2rem;
}
.flex {
    display: flex;
    justify-content: center;
}
.container {
  border:2px solid red;
  width: 80vw;
  margin: auto;
}
.calendrier-header{
    width: 100px;
    justify-content: space-around;
    background-color: aqua;
}
.prev{
    margin-right: 10px;
}

