* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f7f2eb;
}
header {
  margin-top: 10vh;
  font-size: 2rem;
}
.container {
  width: 50vw;
  height: 70vh;
  margin: auto;
  background-color: #7096d1;
  border-radius: 20px;
}
.calendar{
  background-color:#d0e3ff;
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
}
.box{
  border:1px solid green;
  height:50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-color{
  background-color: red;
}

.flex {
    display: flex;
    justify-content: center;
}
.calendar-header{
    width: 100px;
    justify-content: space-around;
    background-color: aqua;
}
.prev{
    margin-right: 10px;
}

